In [3]:
import pandas as pd

In [5]:
# 열 이름을 key로 하고, 리스트를 value로 갖는 딕셔너리 정의(2차원 배열)
dict_data = {'c0':[1,2,3],'c1':[4,5,6],'c2':[7,8,9],'c3':[10,11,12],'c4':[13,14,15]}

# 판다스 DataFrame() 함수로 딕셔너리를 데이터 프레임으로 변환. 변수 df에 저장.
df = pd.DataFrame(dict_data)

# df의 자료형 출력
print(type(df))
# 변수 df에 저장되어 있는 데이터 프레임 객체를 출력
print(df)

<class 'pandas.core.frame.DataFrame'>
   c0  c1  c2  c3  c4
0   1   4   7  10  13
1   2   5   8  11  14
2   3   6   9  12  15

In [11]:
import pandas as pd

# 행 인덱스/열 이름 지정하여, 데이터프레임 만들기
df = pd.DataFrame([[15, '남', '덕영중'],[17, '여', '수리중']], index=['준서', '예은'], columns=['나이', '성별', '학교'])

# 행 인덱스, 열 이름 확인하기
print(f'데이터 프레임 : {print(df)}\n 행 인덱스 : {print(df.index)}\n 열 이름 : {print(df.columns)}')

     연령 남녀   소속
학생1  15  남  덕영중
학생2  17  여  수리중
Index(['학생1', '학생2'], dtype='object')
Index(['연령', '남녀', '소속'], dtype='object')
데이터 프레임 : None
 행 인덱스 : None
 열 이름 : None

In [12]:
import pandas as pd

# 행 인덱스/열 이름 지정하여, 데이터프레임 만들기
df = pd.DataFrame([[15, '남', '덕영중'],[17, '여', '수리중']], index=['준서', '예은'], columns=['나이', '성별', '학교'])

# 행 인덱스, 열 이름 변경하기
df.index=['학생1', '학생2']
df.columns = ['연령', '남녀', '소속']

# 행 인덱스, 열 이름 확인하기
print(f'데이터 프레임 : {print(df)}\n 행 인덱스 : {print(df.index)}\n 열 이름 : {print(df.columns)}')

     연령 남녀   소속
학생1  15  남  덕영중
학생2  17  여  수리중
Index(['학생1', '학생2'], dtype='object')
Index(['연령', '남녀', '소속'], dtype='object')
데이터 프레임 : None
 행 인덱스 : None
 열 이름 : None

In [13]:
import pandas as pd

# 행 인덱스/열 이름 지정하여, 데이터프레임 만들기
df = pd.DataFrame([[15, '남', '덕영중'],[17, '여', '수리중']], index=['준서', '예은'], columns=['나이', '성별', '학교'])

# 행 인덱스, 열 이름 변경하기
df.rename(columns={'나이':'연령', '성별':'남녀', '학교':'소속'}, inplace=True)
df.rename(index={'준서':'학생1', '예은':'학생2'}, inplace=True)

# 행 인덱스, 열 이름 확인하기
print(f'데이터 프레임 : {print(df)}\n 행 인덱스 : {print(df.index)}\n 열 이름 : {print(df.columns)}')

     연령 남녀   소속
학생1  15  남  덕영중
학생2  17  여  수리중
Index(['학생1', '학생2'], dtype='object')
Index(['연령', '남녀', '소속'], dtype='object')
데이터 프레임 : None
 행 인덱스 : None
 열 이름 : None

In [16]:
import pandas as pd

# DataFrame() 함수로 데이터 프레임 변환. 변수 df에 저장
exam_data = {'수학':[90, 80, 70],'영어':[98,89,95],'음악':[85,95,100],'체육':[100,90,90]}

df = pd.DataFrame(exam_data, index=['서준', '우현', '인아'])
print(f'{df}\n')

# 데이터프레임 df를 복제하여 변수 df에 저장. df2의 1개 행(row)을 삭제
df2 = df[:]
df2.drop('우현', inplace=True)
print(f'{df2}\n')

# 데이터프레임 df를 복제하여 변수 df3에 저장. df의 2개 행(row)응 삭제
df3 = df[:]
df3.drop(['우현', '인아'], inplace = True)
print(df3)

    수학  영어   음악   체육
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90

    수학  영어   음악   체육
서준  90  98   85  100
인아  70  95  100   90

    수학  영어  음악   체육
서준  90  98  85  100

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [17]:
import pandas as pd

# DataFrame() 함수로 데이터 프레임 변환. 변수 df에 저장
exam_data = {'수학':[90, 80, 70],'영어':[98,89,95],'음악':[85,95,100],'체육':[100,90,90]}

df = pd.DataFrame(exam_data, index=['서준', '우현', '인아'])
print(f'{df}\n')

# 데이터프레임 df를 복제하여 변수 df4에 저장. df4의 1개 열을 삭제
df4 = df[:]
df4.drop('수학', axis=1, inplace = True)
print(f'{df4}\n')

# 데이터프레임 df를 복제하여 변수 df5에 저장. df5의 2개 열을 삭제
df5 = df.copy()
df5.drop(['영어', '음악'], axis = 1, inplace = True)
print(df5)

    수학  영어   음악   체육
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90

    영어   음악   체육
서준  98   85  100
우현  89   95   90
인아  95  100   90

    수학   체육
서준  90  100
우현  80   90
인아  70   90

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [25]:
data = {"국어" : [80, 90, 70, 30], "영어" : [90, 70, 60, 40], "수학": [90, 60, 80, 30],}
columns = ["국어", "영어", "수학"]
index = ["예성", "재성", "진양", "혁준"]
df = pd.DataFrame(data, index=index, columns=columns)
print(df)

sd = df['수학']
print(sd)
print(type(sd))

df["평균"] = df.mean(axis=1)
print(df)

s = df.loc["진양"]
print(s)
print(type(s))

    국어  영어  수학
예성  80  90  90
재성  90  70  60
진양  70  60  80
혁준  30  40  30
예성    90
재성    60
진양    80
혁준    30
Name: 수학, dtype: int64
<class 'pandas.core.series.Series'>
    국어  영어  수학         평균
예성  80  90  90  86.666667
재성  90  70  60  73.333333
진양  70  60  80  70.000000
혁준  30  40  30  33.333333
국어    70.0
영어    60.0
수학    80.0
평균    70.0
Name: 진양, dtype: float64
<class 'pandas.core.series.Series'>